
body{
    background-color: black;
}

h1{
    color: white; 
    font-size: 30px; 
    font-family: 'Lucida Handwriting' ; 
}

#timerclock{
    color: white; 
    font-size: 30px; 
    font-family: 'Lucida Handwriting' ; 
}